.task-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

  > input[type=text] {
    flex: 1;
    margin-right: 10px;
  }

  > input[type=submit] {
    flex: 0;
  }
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  padding: 15px 0;
  display: flex;
  align-items: flex-start;

  > .list-item-icon {
    color: fade_out($main-color, 0.2);
  }

  > .icon-btn {
    opacity: 0;
  }

  &:hover {
    > .icon-btn {
      opacity: 1;
    }
  }

}

.list-item-text {
  flex: 1;

  > small {
    display: block;
    font-size: 0.8em;
    padding: 5px 0;
    color: $font-color-faded;
  }
}