$main-color: #31aff2;
$main-color-faded: #31aff21f;
$default-border-color: #eee;
$font-color-main: #575757;
$font-color-faded: lighten($font-color-main, 20%);

$fa-font-path: "../lib/fontawesome/webfonts";